* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrap {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.content {
    cursor: pointer;
    padding: 5px;
}

a:hover {
    color: #cccccc;
    text-decoration: underline;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 400px;
    height: 20px;
    border: 1px solid #ccc;
    padding: 0 10px;
    margin: 3px 0;
}

.link {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    width: 70%;
    height: 100%;
}

.price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    width: 30%;
    height: 100%;
}